body
{
    background: #000B49;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#header
{
    background: #FFB5B5 url("../imagenes/dragon.png") 20px 20px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0,0,0.75);
    color: black;
    margin: 0;
    font-weight: bold; 
    padding: 0.5em 0 0.5em 2em;
}
#header #logo
{
    width: 20px;
    vertical-align: middle;
}
#header #tagline
{
    margin: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;

}
#container
{
    width: 100%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
}
#footer
{
    background: #FFB5B5;
    color: white;
    text-align: center;
    padding: 0.5em;
}
p
{
    color: #9B0000;
}
p:active
{
    color: midnightblue;
}
div p::first-letter
{
    color: orange;
}
div p::before
{
    content: "⭐️";
}